.navigation-container {
	margin-bottom: 10px;
}

.navbar {
	background-image: url('../../../assets/images/banner.jpg');
	background-size: contain;
	height: 250px;
}

.navbar-nav {
	position: relative;
	top: 100px;
	left: 550px;
}

.nav-link {
	font-size: 25px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0px;
}

.social-container {
	margin-top: -200px;
}

.brand-wrap {
	display: none;
}

@media (max-width: 991px) {
	.navbar {
		background-image: none;
		height: 220px;
	}

	.navbar-nav {
		position: relative;
		top: 0px;
		left: 0px;
		margin: 20px;
	}

	.nav-link {
		padding: 0px;
	}

	.navbar-collapse {
		background: #F8F9FA;
		margin-left: -15px;
		margin-right: -15px;
	}

	.brand-wrap {
		display: inline-block;
	}
}