.social-icon {
	font-size: 25px;
	width: 1.5em;
	text-align: center;
	display: inline-block;
}

@media (max-width: 991px) {
	.social-icon {
		display: inline-block;
		margin-right: 10px;
		font-size: 20px;
	}
}